body {
    /*height: 100%;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*margin: 0;*/
    /*padding: 0;*/
    background: url(Florentine-Tel-Aviv.jpg) no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    width: 45%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #ff1ef5;
    font-family: "Comic Sans MS";
    font-size: 3rem;
    background: url(poop-panel.jpg);
    display: inline-block;
    padding: 15px;
    border-radius: 10%;
    text-shadow: black 5px 5px 5px;
    box-shadow: black 5px 5px 5px;
}

/*gameboard styling*/

td,
.lid,
.flag {
    height: 35px;
    width: 35px;
}

td {
    /*border: 1px solid black;*/

    /*border-radius: 20%;*/
    transition: all 200ms;
    position: relative;
}

.no-mine[data-num-in-cell='0'] {
    background: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;

}

.game-board {
    margin: 10px auto;
    transform-origin: 50% 50%;
    transition: all 500ms;
    background: white;
}

.mine {
    background: url(mine.png) no-repeat;
    background-size: 95%;
    background-position: 50% 50%;
}

.lid {
    position: relative;
    z-index: 500;
    background: url(lid3.jpg) repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*display: none;*/
}

.number {
    position: absolute;
    z-index: 400;
    top: 25%;
    left: 35%;
}

.flag {
    background: url(flag.png) no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
}

/*stying panel*/

.panel {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 200px;
    height: 160px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px;
    background: white;
}

.panel span {
    display: block;
    font-size: 1.8rem;
}

.mine-tracker {
    width: 180px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}

.timer {
    width: 180px;
    display: flex;
    justify-content: space-around;

}

.panel img {
    height: 30px;
    width: auto;
}

/*check button*/

.restart,
.check {
    font-size: 1.5rem;
    border-radius: 5%;
}

#done-flagging {
    color: green;
}